/*
 *Copyright (C) 1994-2000 The XFree86 Project, Inc. All Rights Reserved.
 *
 *Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 *"Software"), to deal in the Software without restriction, including
 *without limitation the rights to use, copy, modify, merge, publish,
 *distribute, sublicense, and/or sell copies of the Software, and to
 *permit persons to whom the Software is furnished to do so, subject to
 *the following conditions:
 *
 *The above copyright notice and this permission notice shall be
 *included in all copies or substantial portions of the Software.
 *
 *THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 *MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *NONINFRINGEMENT. IN NO EVENT SHALL THE XFREE86 PROJECT BE LIABLE FOR
 *ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 *CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 *WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 *Except as contained in this notice, the name of the XFree86 Project
 *shall not be used in advertising or otherwise to promote the sale, use
 *or other dealings in this Software without prior written authorization
 *from the XFree86 Project.
 *
 * Authors:	Harold L Hunt II
 */
/* $XFree86: xc/programs/Xserver/hw/xwin/XWin.rc,v 1.2 2003/07/29 21:25:15 dawes Exp $ */

#include "resource.h"


/*
 * Dialogs
 */

/* Depth_Change */

DEPTH_CHANGE_BOX DIALOG DISCARDABLE	32, 32, 180, 100
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_CENTER
FONT 8, "MS Sans Serif"
CAPTION "Cygwin/XFree86"
BEGIN
  DEFPUSHBUTTON		"Dismiss", IDOK, 66, 80, 50, 14
  CTEXT			"Cygwin/XFree86", IDC_STATIC, 40, 12, 100, 8
  CTEXT			"Disruptive screen configuration change.", IDC_STATIC, 7, 40, 166, 8
  CTEXT			"Restore previous resolution to use Cygwin/XFree86.", IDC_STATIC, 7, 52, 166, 8
END


/* Exit */

EXIT_DIALOG DIALOG DISCARDABLE	32, 32, 180, 70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_TABSTOP | DS_CENTER
FONT 8, "MS Sans Serif"
CAPTION "Cygwin/XFree86 - Exit?"
BEGIN
  PUSHBUTTON "E&xit", IDOK, 55, 48, 30, 14
  DEFPUSHBUTTON "&Cancel", IDCANCEL, 95, 48, 30, 14
  CTEXT "Exiting will close all screens running on this display.", IDC_STATIC, 7, 12, 166, 8
  CTEXT "Proceed with shutdown of this display/server?", IDC_STATIC, 7, 24, 166, 8
END


/*
 * Menus
 */

IDM_TRAYICON_MENU MENU DISCARDABLE
BEGIN
	POPUP "TRAYICON_MENU"
	BEGIN
		MENUITEM "&Hide Root Window", ID_APP_HIDE_ROOT
		MENUITEM "&Show Root Window", ID_APP_SHOW_ROOT
		MENUITEM SEPARATOR
		MENUITEM "E&xit", ID_APP_EXIT
	END
END


/*
 * Icons
 */

IDI_XWIN		ICON	DISCARDABLE	"X.ico"
