Makefile
Makefile.in
.deps
.libs
*.lo
*.la
*.a
*.o
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
xorg-server.pc
stamp-h?
do-not-use-config.h
do-not-use-config.h.in
include/dix-config.h
include/kdrive-config.h
include/xgl-config.h
include/xkb-config.h
include/xorg-config.h
include/xorg-server.h
include/xwin-config.h
hw/dmx/config/parser.c
hw/dmx/config/parser.h
hw/dmx/config/scanner.c
