XCOMM $RCSId: xc/programs/Xserver/hw/kdrive/Kdrive.tmpl,v 1.3tsi Exp $

#include <Server.tmpl>

#if BuildRender
RENDERINCS=-I$(KDRIVE)/../../render
#endif

#if BuildRandR
RANDRINCS=-I$(KDRIVE)/../../randr
#endif

KDINCS = -I$(KDRIVE) -I$(XBUILDINCDIR) -I$(FONTINCSRC) \
	 -I$(KDRIVE)/../../fb -I$(KDRIVE)/../../mi -I$(KDRIVE)/../../Xext \
	 -I$(KDRIVE)/../../miext/shadow -I$(KDRIVE)/../../miext/layer \
	 -I$(KDRIVE)/../../include -I$(KDRIVE)/../../os \
         -I$(EXTINCSRC) -I$(XINCLUDESRC) $(RENDERINCS) $(RANDRINCS)
